html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

p {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    background-color: white;
    font-family: "OpenSans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: white;
}

main {
    background-color: #0E1930;
}

.container {
    max-width: 1210px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.d-flex {
    display: flex;
}

.btn {
    padding: 14px 32px;
    background-color: #00BF96;
    border-radius: 10px;
    border: 1px solid transparent;
    transition: opacity, 0.2s;

    &:hover {
        opacity: 0.7;
    }
}