html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

p {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    background-color: white;
    font-family: "OpenSans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: white;
}

main {
    background-color: #0E1930;
}

.container {
    max-width: 1210px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.d-flex {
    display: flex;
}

.btn {
    padding: 14px 32px;
    background-color: #00BF96;
    border-radius: 10px;
    border: 1px solid transparent;
    transition: opacity, 0.2s;

    &:hover {
        opacity: 0.7;
    }
}

.main-content {
    justify-content: space-between;
    padding-bottom: 67px;

    @include maxw1205 {
        flex-direction: column;
        align-items: center;
    }
}

.aside-block {
    padding: 28px 20px 36px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 22px;
    background: linear-gradient(151.38deg, rgba(34, 45, 68, 0.35) 0.75%, rgba(136, 147, 172, 0) 100%);

    &+& {
        margin-top: 30px;
    }

    @include maxw1205 {
        max-width: 500px;
        width: 100%;
    }
}

.avatar{
    width: 48px;
    height: 48px;
    border-radius: 50%;
}