@mixin maxw1400 {
    @media (max-width: 1400px){
        @content;
    }
}

@mixin maxw1205{
    @media (max-width: 1205px){
        @content;
    }
}

@mixin maxw992{
    @media (max-width: 992px){
        @content;
    }
}

@mixin maxw767{
    @media (max-width: 767px){
        @content;
    }
}

@mixin maxw576{
    @media (max-width: 576px){
        @content;
    }
}

@mixin  maxw400 {
    @media (max-width: 400px){
        @content;
    }
}