@import 'fonts';
@import 'vars';
@import 'mixins';
@import 'global';

@import "components/header";

@import "page-index/hero";
@import "page-index/servers";
@import "page-index/news";
@import "page-index/aside";

@import "components/footer";