.footer {
    padding: 42px 0 30px;
    background-color: #18233A;

    &__inner {
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;

        @include maxw767 {
            flex-direction: column;
        }
    }

    &__list{
        margin-left: 50px;

        @include maxw767 {
            margin: 25px 0;
        }
    }

    &__item {
        transition: color 0.2s;

        &+& {
            margin-left: 36px;
        }

        &:hover {
            color: $aqua;
        }
    }

    &__copy {
        font-size: 14px;
        text-align: right;
        color: $gray;

        @include maxw767 {
            text-align: center;
        }
    }
}