.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    &__inner {
        justify-content: space-between;
        align-items: center;
        height: 170px;
        color: white;
        font-weight: 600;

        @include maxw1205 {
            height: 120px;
        }

        @include maxw992 {
            flex-wrap: wrap;
            justify-content: center;
            height: 100px;
        }
    }

    &__nav {
        margin: 0 52px 0 auto;

        @include maxw576 {
            margin: 25px auto ;
        }
    }

    &__link {
        transition: color, 0.2s;

        &:hover {
            color: #01BBA4;
        }

        &+& {
            margin-left: 36px;

            @include maxw576{
                margin-left: 25px;
            }
        }
    }

    &__buttons {
        @include maxw576{
            display: flex;
            flex-direction: column;
        }
    }

    &__btn {
        text-align: center;

        &+& {
            margin-left: 16px;

            @include maxw576 {
                margin-left: 0;
                margin-top: 15px;
            }
        }

        &--auth {
            background-color: #0097F4;
        }
    }
}