.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    &__inner {
        justify-content: space-between;
        align-items: center;
        height: 170px;
        color: white;
        font-weight: 600;
    }

    &__nav {
        margin: 0 52px 0 auto;
    }

    &__link {
        transition: opacity, 0.2s;

        &:hover {
            opacity: 0.8;
        }

        &+& {
            margin-left: 36px;
        }
    }

    &__btn {

        &+& {
            margin-left: 16px;
        }

        &--auth {
            background-color: #0097F4;
        }
    }
}