.hero {
    margin-bottom: 120px;
    padding-top: 135px;
    background: radial-gradient(94.84% 94.84% at 50% 2.78%, #1A3D48 0%, #0E1930 100%), #0E1930;

    @include maxw576 {
        padding-top: 210px;
    }

    @include maxw400 {
        padding-top: 260px;
    }

    &__inner {
        justify-content: space-between;
        align-items: center;

        @include maxw992{
            flex-direction: column;
        }
    }

    &__box {
        max-width: 500px;
        width: 100%;
    }

    &__title {
        margin-bottom: 23px;
        font-size: 30px;
        line-height: 38px;
    }

    &__descr {
        margin-bottom: 36px;
        line-height: 22px;
    }

    &__btn {

        &--about {
            border-color: $aqua;
            background-color: transparent;
        }

        &+& {
            margin-left: 19px;
        }
    }

    &__img {
        @include maxw992 {
            width: 450px;
        }
        @include maxw576 {
            width: 300px;
        }
    }
}