.news {
    @include maxw1205 {
        margin-bottom: 50px;
    }

    &__item{
        max-width: 811px;

        &+&{
            margin-top: 45px;
        }

        @include maxw767 {
            max-width: 328px;
            flex-direction: column;
            align-items: center;
        }
    }

    &__pic-link, &__pic{
        border-radius: 12px;
    }

    &__pic-link{
        margin-right: 30px;

        @include maxw767{
            margin-right: 0;
            margin-bottom: 20px;
        }
    }

    &__pic {

        @include maxw576 {
            max-width: 328px;
            width: 100%;
        }
    }

    &__category{
        display: inline-block;
        margin-bottom: 11px;
        text-transform: uppercase;
        font-size: 14px;
        line-height: 19px;
        font-weight: 600;
        color: $gray;
    }

    &__title{
        margin-bottom: 15px;
        font-size: 28px;
        font-weight: 600;
        line-height: 32px;
        transition: color, 0.2s;

        &:hover{
            color: $aqua;
        }

        @include maxw767 {
            font-size: 24px;
        }
    }

    &__text{
        margin-bottom: 24px;
        line-height: 22px;
    }

    &__box{
        justify-content: space-between;
        align-items: center;
    }

    &__info{
        position: relative;
        padding-left: 25px;

        &::before{
            position: absolute;
            content: "";
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            width: 17px;
            height: 15px;
            background-image: url("../images/icons/calendar.svg");
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
        }
    }
}