.servers {
    padding-bottom: 50px;

    &__inner {
        justify-content: space-between;

        @include maxw992 {
            justify-content: space-around;
            flex-wrap: wrap;
        }
    }

    &__item {
        padding: 32px 15px 36px;
        max-width: 279px;
        width: 100%;
        text-align: center;
        border-radius: 20px;
        border: 1px solid rgba(255, 255, 255, 0.1);
        background: linear-gradient(151.38deg, rgba(34, 45, 68, 0.42) 0.75%, rgba(136, 147, 172, 0) 100%);
        transition: box-shadow 0.2s;

        &:hover {
            box-shadow: 0 0 5px #9EA1B3;
        }

        @include maxw992 {
            max-width: 45%;
            margin-bottom: 20px;
        }

        @include maxw576 {
            max-width: 90%;
        }

        &+& {
            margin-left: 15px;

            @include maxw992 {
                margin-left: 0;
            }
        }
    }

    &__icon {
        margin: 0 auto 35px;
        width: 79px;
        height: 72px;
        background-repeat: no-repeat;
        background-size: contain;
    }

    &__name {
        margin-bottom: 16px;
        font-size: 24px;
        line-height: 28px;
        font-weight: 600;
    }

    &__online {
        margin-bottom: 12px;
        font-size: 20px;
        line-height: 24px;
    }

    &__current-online {
        color: #00BF96;
    }
}